README.md

{{ if ne .chezmoi.os "linux" }}
**/*.sh
.bash_history
.bashrc
.profile
.hushlogin
{{ end }}

{{ if ne .chezmoi.os "windows" }}
**/*.bat
**/*.ps1
Documents
AppData
scoop
{{ end }}