{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Full name" -}}

{{- $isWSL := false -}}
{{- if (eq .chezmoi.os "linux") -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-     $isWSL = true -}}
{{-   end -}}
{{- end -}}

[data]
    osid = {{ $osid | quote }}
    is_wsl = {{ $isWSL }}

[data.user]
    email = {{ $email | quote }}
    name = {{ $name | quote }}