# If not running interactively, don't do anything
case $- in
    *i*) ;;
      *) return;;
esac

# Setup history
HISTCONTROL=ignoreboth
HISTSIZE=10000
HISTFILESIZE=20000

# Shell options
shopt -s checkwinsize
shopt -s globstar
shopt -s histappend

# Homebrew
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

# Mise
eval "$(mise activate bash)"

# Starship
eval "$(mise exec -- starship init bash)"

# Completions
export CARAPACE_BRIDGES='zsh,fish,bash,inshellisense,complete,clap,cli,argcomplete'
export CARAPACE_MATCH=0
source <(carapace _carapace)

# Ki
KI_EDITOR_THEME="Github Dark"

# Z
eval "$(mise exec -- zoxide init bash)"

# Useful functions
# {{ template "utils.sh" }}

# Load functions declarations from separate configuration file.
if [ -d "$HOME"/.bash.d ]; then
  for file in "$(find "$HOME"/.bash.d -maxdepth 1 -name '*.sh' -print -quit)"; do source $file; done
  unset file
fi

{{ if .is_wsl -}}
{{ template "wsl.sh" }}
{{- end }}
