".basic.html.text":
  "multi-wrap-guide":
    columns: [
      80
    ]
  editor:
    preferredLineLength: 80
".python.source":
  "multi-wrap-guide":
    columns: [
      80
    ]
  editor:
    preferredLineLength: 80
".gfm.source":
  "multi-wrap-guide":
    columns: [
      80
    ]
  editor:
    preferredLineLength: 80
".git-commit.text":
  editor:
    preferredLineLength: 72
".perl.source":
  "multi-wrap-guide":
    columns: [
      80
    ]
  editor:
    preferredLineLength: 80
".shell.source":
  "multi-wrap-guide":
    columns: [
      80
    ]
  editor:
    preferredLineLength: 80
".diff.source":
  "multi-wrap-guide":
    columns: [
      80
    ]
  editor:
    preferredLineLength: 80
".go.source":
  "multi-wrap-guide":
    columns: [
      79
    ]
  editor:
    preferredLineLength: 79

