{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

# {{ template "utils.sh" }}

# Install apt packages
log "Installing base apt packages..."
pkgs='{{ .packages.linux.apts | join " " }}'
install=false
for pkg in $pkgs; do
  status="$(dpkg-query -W --showformat='${db:Status-Status}' "$pkg" 2>&1)"
  if [ ! $? = 0 ] || [ ! "$status" = installed ]; then
    install=true
    break
  fi
done
if "$install"; then
  sudo apt install -y $pkgs 2>&1
fi

# Install homebrew packages
log "Installing base homebrews..."
brew bundle --file=/dev/stdin 2>&1 <<EOF
{{ range .packages.linux.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF
{{ end }}

# Install mise packages
log "Installing mise packages..."
mise settings set experimental true
mise settings set disable_backends asdf # don't trust asdf
mise use -g -y {{ .packages.linux.mises | join " " }} 2>&1

# Install vscode extensions if vscode is installed
if command -v code > /dev/null; then
  log "Installing vscode extensions..."
  for ext in '{{ .packages.vscode.extensions | join " " }}'; do
    code --install-extension $ext 2>&1
  done
fi