#!/bin/bash

# {{ template "utils.sh" }}

log "Initialising..."

# Install Homebrew
# https://brew.sh/
if exist brew; then
    log "Updating Homebrew..."
    brew update
else
    log "Installing Homebrew..."
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

log "Done. Please restart your shell."