binds {
    // Media
    XF86AudioMicMute allow-when-locked=true      { spawn "dms" "ipc" "call" "audio"      "micmute"; }
    XF86AudioMute allow-when-locked=true         { spawn "dms" "ipc" "call" "audio"      "mute"; }
    XF86AudioPause allow-when-locked=true        { spawn "dms" "ipc" "call" "mpris"      "playPause"; }
    XF86AudioPlay allow-when-locked=true         { spawn "dms" "ipc" "call" "mpris"      "playPause"; }
    XF86AudioPrev allow-when-locked=true         { spawn "dms" "ipc" "call" "mpris"      "previous"; }
    XF86AudioNext allow-when-locked=true         { spawn "dms" "ipc" "call" "mpris"      "next"; }
    XF86AudioLowerVolume allow-when-locked=true  { spawn "dms" "ipc" "call" "audio"      "decrement" "3"; }
    XF86AudioRaiseVolume allow-when-locked=true  { spawn "dms" "ipc" "call" "audio"      "increment" "3"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "decrement" "5" ""; }
    XF86MonBrightnessUp allow-when-locked=true   { spawn "dms" "ipc" "call" "brightness" "increment" "5" ""; }

    // Screenshots
    Alt+Print  { screenshot-window; }
    Ctrl+Print { screenshot-screen; }
    Print      { screenshot;        }

    Mod+Escape { toggle-keyboard-shortcuts-inhibit; }
}

// Monitor Focus: Alt, Movement: Shift+Alt
// Workspace Focus: Ctrl, Movement: Shift+Ctrl
// Column Focus: Shift, Movement: Shift+Alt
// Window

// Movement
// Focus