binds {
    // Toggle the focused window into/out of the sidebar
    Mod+S hotkey-overlay-title="Move Window to Sidebar" { spawn-sh "niri-sidebar toggle-window"; }

    // Toggle sidebar visibility (hide/show)
    Mod+Shift+S hotkey-overlay-title="Toggle Sidebar"  { spawn-sh "niri-sidebar toggle-visibility"; }

    // Flip the order of the sidebar
    Mod+Ctrl+S hotkey-overlay-title="Cycle Sidebar"  { spawn-sh "niri-sidebar flip"; }

    // Force reorder (useful if something gets misaligned manually)
    Mod+Alt+R hotkey-overlay-title="Reorder Sidebar"  { spawn-sh "niri-sidebar reorder"; }
}
